.slidein {
    animation-name: slideIn;
    animation-duration: 0.5s; 
    animation-fill-mode: forwards; 
    animation-timing-function: ease;
    animation-delay: 0s;
  }
  
  .slideOut {
    animation-name: slideOut;
    animation-duration: 0.5s; 
    animation-fill-mode: backwards;
    animation-timing-function: ease; 
    animation-delay: 0s;
  }
@keyframes slideIn {
    0% {
      opacity: 0;
      right: -100%;
      transform: translateX(90%);
    }
    100% {
      opacity: 1;
      right: 0;
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    0% {
      opacity: 1;
      right: 0;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      right: -100%;
      transform: translateX(90%);
    }
  }
  