@import url(./theme.css);
.modal {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  border: 2px solid red;
  position: relative;
  z-index: 1919191919191;
}
.modal .content {
  width: 60%;
  padding: 40px 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: zoomIn 0.8s ease-out;
}

.modal .content .text {
  margin-bottom: 35px;
  text-align: center;
}

.modal .field {
  height: 3rem;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.modal .field:nth-child(2) {
  margin-top: 20px;
}

.modal .field .input {
  height: 100%;
  width: 100%;
  padding-left: 3rem;
  outline: none;
  border: none;
  font-size: 1.3em;
  background: #ffffff;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

.modal .field .input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff73;
}

.modal .field .span {
  position: absolute;
  color: #595959;
  width: 3.13rem;
  line-height: 3.2rem;
  /* padding-left: 0.5rem; */
  text-align: center;
}

.modal .field .label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2.8rem;
  pointer-events: none;
  color: #666666;
}

.modal .field .input:valid ~ label {
  opacity: 0;
}

.modal .button {
  margin: 1.2rem 0;
  width: 50%;
  height: 50px;
  font-size: 1.2em;
  line-height: 50px;
  font-weight: 600;
  background: var(--active);
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
}

.modal .button:focus {
  color: #3498db;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

.m-pesa-logo img {
  width: 50%;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .modal .content {
    width: 20%;
  }
}

/* modal */
@keyframes zoomIn {
  0% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
