@import url(./theme.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f1f1;
}

/* header nav section */

.humbuger-btn {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
/* ====== */

  .humbuger-btn.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 6px);
  }
  
  .humbuger-btn.active span:nth-child(2) {
    opacity: 0;
  }
  
  .humbuger-btn.active span:nth-child(3) {
    transform: rotate(45deg) translate(-10px, -6px);
  }
  
  /* =========== */

.humbuger-btn span {
  width: 2rem;
  border: 1px solid var(--dark);
  border-radius: 4rem;
  transition: 0.4s;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 7rem;
}
.church-logo{
    width: 23%;
  }

.plasmic-tab {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: flex-start;
    width: auto;
    height: auto;
    max-width: 100%;
    flex-wrap: nowrap;
    align-content: stretch;
    flex-shrink: 0;
    padding: 8px;
}
.plasmic-tab li a {
    color: var(--fade-dark);
}

.disapper-nav {
    display: none;
}

.plasmic-tab li a:hover {
    color: var(--dark);
}

.plasmic-tab li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: DM Sans, sans-serif;
    font-size: 12px;
    align-self: stretch;
    flex-grow: 1;
}

.icon {
    width: 1.5rem;
}

a {
    text-decoration: none;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.show-nav {
    display: block;
  }
