@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');
:root {
    ---secondary-color: rgb(61,85,164);
    --primary-color: #fdfdfd;
    --button-color: #a6dbf2;
    --dark: #000000;
    --fade-dark: #767b88;
    --active-link: #be2c2c;
    --tw-bg-opacity: #efefef;
    --border: hsla(0,0%,9%,.15);
    --body-bg:#f6f6f6;
    --active: #ff661e;
    --active-fade: #ff651e46;
}
